<form class="shop-dialog" (ngSubmit)="onSave()">
  <h1 mat-dialog-title>Add Purchase Shop</h1>
  <div mat-dialog-content>
    <p>What's shop name?</p>
    <mat-form-field appearance="fill">
      <mat-label>Shop name</mat-label>
      <input matInput [formControl]="shopForm" autocomplete="off">
      <mat-error *ngFor="let errMessage of shopForm.errors | mapErrorMessages : errorMessages">{{ errMessage }}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-button>Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</form>
