* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  padding: 6em;
}

mat-card {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top > div {
  display: flex;
  gap: 1.5em;
}

.bottom {
  height: 100%;
  padding: 3em;
}

.hot-container {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
