<form class="category-dialog" (ngSubmit)="onSave()">
  <h1 mat-dialog-title>Add Purchase Category</h1>
  <div mat-dialog-content>
    <p>What's category name?</p>
    <mat-form-field appearance="fill">
      <mat-label>Category name</mat-label>
      <input matInput [formControl]="categoryForm" autocomplete="off">
      <mat-error *ngFor="let errMessage of categoryForm.errors | mapErrorMessages : errorMessages">{{ errMessage }}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-button>Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</form>
